* {
  font-family: Roboto;
  scroll-behavior: smooth;
}

.nav {
  display: flex;
  justify-content: space-around;

}

button {
  background-color: grey;
  color: white;
  border-radius: 20px
}

.name {
  font-size: 60px;
  color: black;
  margin-top: 10%;
  display: none;
  text-align: center;
}

.title {
  font-size: 20px;
  color: black;
  text-align: center;
  margin: -5px;
  display: none;
}

body {
  background-image: url('https://i.imgur.com/lapBObd.jpg');
}

a {
  text-decoration: none;
  color: black;
  position: fixed;
}

#linkedin {
  text-decoration: none;
  color: black;
  position: relative;
}

#instagram {
  text-decoration: none;
  color: black;
  position: relative;
}

.aboutme {
  background-color: white;
  width:30em;
  padding: 2em;
  border-radius: 56px;
  margin-top: 20%;
  margin-left: 20%;
}

.carousel {
  background-color: white;
  width:23em;
  height: 250px;
  padding: 2em;
  border-radius: 56px;
  margin-top: -15%;
  margin-left: 20%;
  align-items: center;
}

#aboutme {
  margin-top: 50%;
  color: rgba(0, 0, 0, 0);
}

#projects {
  margin-top: 50%;
  color: rgba(0, 0, 0, 0);
}

#resume {
  margin-top: 50%;
  color: rgba(0, 0, 0, 0);
}

#contact {
  margin-top: 50%;
  color: rgba(0, 0, 0, 0);
}

.projects {
  background-color: white;
  width: 15em;
  padding: 2em;
  border-radius: 56px;
  margin-top: 20%;
  margin-left: 60%;
}

.resume {
  background-color: white;
  width: 25em;
  padding: 2em;
  border-radius: 56px;
  margin: 20% auto;
}

.contact {
  background-color: white;
  width: 20em;
  padding: 2em;
  border-radius: 56px;
  margin: 20% auto;
}

#me {
  display: inline-block;
  margin-left: 55%;
  margin-top: -325px;
  display: none;
}

.img {
  max-height: 245px;
  border-radius: 56px;
}

.img img:first-of-type {
  display: block;
}

@media (max-width: 900px) {
  .nav {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  a {
    text-decoration: none;
    color: black;
    position: fixed;
    font-size: 15px;
  }
  .name {
    font-size: 40px;
    color: black;
    margin-top: -20%;
    display: none;
    text-align: center;
  }
  .title {
    font-size: 15px;
    color: black;
    text-align: center;
    margin: -5px;
    display: none;
  }
  #me {
    margin: 0 14%;
    display: none;
    max-width: 350px;
  }
  .aboutme {
    background-color: white;
    max-width:300px;
    padding: 2em;
    border-radius: 56px;
    margin: 0 auto;
  }
  .projects {
    background-color: white;
    max-width: 300px;
    padding: 2em;
    border-radius: 56px;
    margin: 0 auto;
  }
  .resume {
    background-color: white;
    max-width: 300px;
    padding: 2em;
    border-radius: 56px;
    margin: 0 auto;
  }
  .carousel {
    background-color: white;
    width:14em;
    height: 150px;
    padding: 2em;
    border-radius: 56px;
    margin: 0 auto;
    align-items: center;
  }
  .img {
    max-height: 150px;
    border-radius: 56px;
  }
  .img img:first-of-type {
    display: block;
  }
  .contact {
    background-color: white;
    width: 300px;
    padding: 2em;
    border-radius: 56px;
    margin: 0 auto;
  }
}
