* {
  font-family: Roboto;
}

.nav {
  display: flex;
  justify-content: space-around;

}

.name {
  font-size: 60px;
  color: black;
  margin-top: 10%;
  display: none;
  text-align: center;
}

.title {
  font-size: 20px;
  color: black;
  text-align: center;
  margin: -5px;
  display: none;
}

body {
  background-image: url('https://i.imgur.com/lapBObd.jpg');
}

a {
  text-decoration: none;
  color: black;
  position: fixed;
}

.aboutme {
  background-color: white;
  width:30em;
  padding: 2em;
  border-radius: 56px;
  margin-top: 75%;
  margin-left: 10%
}
