* {
  font-family: Roboto;
  scroll-behavior: smooth;
}

.nav {
  display: flex;
  justify-content: space-around;

}

.name {
  font-size: 60px;
  color: black;
  margin-top: 10%;
  display: none;
  text-align: center;
}

.title {
  font-size: 20px;
  color: black;
  text-align: center;
  margin: -5px;
  display: none;
}

body {
  background-image: url('https://i.imgur.com/lapBObd.jpg');
}

a {
  text-decoration: none;
  color: black;
  position: fixed;
}

#linkedin {
  text-decoration: none;
  color: black;
  position: relative;
}

.aboutme {
  background-color: white;
  width:30em;
  padding: 2em;
  border-radius: 56px;
  margin-top: 20%;
  margin-left: 20%;
}

#aboutme {
  margin-top: 50%;
  color: rgba(0, 0, 0, 0);
}

#projects {
  margin-top: 50%;
  color: rgba(0, 0, 0, 0);
}

#resume {
  margin-top: 50%;
  color: rgba(0, 0, 0, 0);
}

#contact {
  margin-top: 50%;
  color: rgba(0, 0, 0, 0);
}

.projects {
  background-color: white;
  width: 15em;
  padding: 2em;
  border-radius: 56px;
  margin-top: 20%;
  margin-left: 60%;
}

.resume {
  background-color: white;
  width: 25em;
  padding: 2em;
  border-radius: 56px;
  margin: 20% auto;
}

.contact {
  background-color: white;
  width: 15em;
  padding: 2em;
  border-radius: 56px;
  margin: 20% auto;
}

img {
  display: inline-block;
  margin-left: 55%;
  margin-top: -325px;
  display: none;
}

@media (max-width: 900px) {
  img {
    display: inline-block;
    margin: -30% auto;
    display: none;
  }
  .aboutme {
    background-color: white;
    max-width:300px;
    padding: 2em;
    border-radius: 56px;
    margin: 20% auto;
  }
  .projects {
    background-color: white;
    max-width: 300px;
    padding: 2em;
    border-radius: 56px;
    margin: 50% auto;
  }

  .resume {
    background-color: white;
    max-width: 300px;
    padding: 2em;
    border-radius: 56px;
    margin: 20% auto;
  }
}
